*.tar.gz
*.zip
*.log
.DS_Store # macOS specific
Thumbs.db # Windows specific
.vscode/ # VS Code specific

# quarto artifacts
*.html
*.pdf
*.knit.md
*.utf8.md
*.tex
_site
*_ipynb

# data
data/14100022.csv
data/14100355.csv

#python
*.egg-info/
__pycache__/
*.pyc
*pyo
build/
dist/

libs/
figure-html
/.quarto/
