*Rproj

# History files
.Rhistory
.Rapp.history

# Session data
.RData

# RStudio files
.Rproj.user/

# R package build artifacts
.Rinstignore
*.Rcheck/
*.tar.gz
*.zip
*.log

# R package development files
.DS_Store # macOS specific
Thumbs.db # Windows specific
.vscode/ # VS Code specific

# R markdown artifacts
*.html
*.pdf
*.knit.md
*.utf8.md
*.tex

# data
data/14100022.csv
data/14100355.csv

#python
*.egg-info/
__pycache__/
*.pyc
*pyo
build/
dist/